aside {
  display: flex;
  justify-content: space-between;
  padding: 4vw 10vw;
}

aside time {
  font-weight: 900;
}

aside ul {
  display: flex;
  gap: 2vw;
}

aside li {
  background: no-repeat 0 50% / contain;
  text-indent: -999999px;
  overflow: hidden;
}

.cellular {
  width: 5vw;
  background-image: url(/images/cellular.png);
}

.wifi {
  width: 5vw;
  background-image: url(/images/wifi.png);
}

.battery {
  width: 7.5vw;
  background-image: url(/images/battery.png);
}

main {
  display: flex;
  flex-direction: column;
  padding-inline: 4.2vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2vw;
}

header nav ul {
  display: flex;
  gap: 4vw;
}

header nav a {
  display: flex;
  gap: 4vw;
}

.user {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 3vw;
}

.user img {
  width: 15vw;
  height: 15vw;
  border-radius: 5vw;
}

.friends h2 {
  font-size: 3.2vw;
  font-weight: 400;
  margin-bottom: 2vw;
}

.friends li {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.friends li + li {
  margin-top: 5vw;
}

.friends img {
  width: 13vw;
  height: 13vw;
  border-radius: 5vw;
}

#navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#navigation ul {
  display: flex;
  justify-content: space-around;
}

#navigation a {
  display: block;
  padding: 5vw;
}

#no-mobile {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
}

@media screen and (min-width: 600px){
  #no-mobile {
    display: flex;
  }
}
