header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4vw;
}

header h1 {
  font-size: 6vw;
  font-weight: 500;
}

header nav ul {
  display: flex;
  gap: 2vw;
}

header nav a {
  display: flex;
  width: 8vw;
  height: 8vw;
  background: no-repeat 50% 50% / 60%;
  text-indent: -9999999px;
  overflow: hidden;
}

header .search a {
  background-image: url(/images/search.png);
}

header .add-friend a {
  background-image: url(/images/add-friend.png);
}

header .settings a {
  background-image: url(/images/settings.png);
}
