#navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#navigation ul {
  display: flex;
  justify-content: space-around;
}

#navigation a {
  display: block;
  padding: 5vw;
}

#no-mobile {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
}

@media screen and (min-width: 600px){
  #no-mobile {
    display: flex;
  }
}
